.navegacion_inicio{
    background-color: $mainColor;
    color:$secondaryColor;
    padding-left: 20px;
    padding-block: 10px;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;

    ul li{
        list-style-type: none;
}
}

footer{
    background-color: $mainColor;
    color:$secondaryColor;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    background-image: url(../img/header.jpg);


    .menu_footer{
        list-style-type:none;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        padding-block: 10px;
        gap: 10px;
    }
}