/* Encabezado */

.menu2 {
    position: fixed;
    left: auto;
    top: 16px;
    right: 16px;
    bottom: auto;
    z-index: 20;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style-type: none;
    gap: 10px;

    
    .menu__item2:hover{
        -webkit-animation: slide-top 6s ease-out both;
        animation: slide-top .6s ease-out both;
        background-color: darkgrey;
    }

    li{
        a{
        text-decoration: none;
        color: $secondaryColor;
        }
    }
}

.encabezado {
    display: flex;
    justify-content: center;
    background-image: url(../img/header.jpg);
}

.navegación_inicio{
    li a {
        text-decoration: none;
        color: white;
    }
}

.slide-top{-webkit-animation:slide-top .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-top .5s cubic-bezier(.25,.46,.45,.94) both}



/* Body */

body{
    background-image: url(../img/header.jpg);
}

.container{
    width: 100%;
    display: flex;
    padding-block: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/header.jpg);
    margin: 0;

    .grid_gallery{
        display: grid;
        grid-template-columns: repeat(3, 5fr);
        grid-template-rows: repeat(3, 5fr);
        gap: 10px;
    }

        .img-box{
            position: relative;
        }

            img{
            border-radius: 5px;
            width: 200px;
            height: 200px;
            opacity: 0.7;
        }

            img:hover{
                transform: scale(1.1) translateY(5px);
                opacity: 1;
            }
        }

@mixin tamanos($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

.img-box img{
    @include tamanos(200px, 200px);
}
   
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.container {
    @include flex(column, center, center);
}

.img-box .box1{
    background-color: map-get($redes, instagram);
}

/* Pie */

.navegacion_inicio{
    background-color: $mainColor;
    color:$secondaryColor;
    padding-left: 20px;
    padding-block: 10px;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;

    ul {
        li{
            list-style-type: none;

            a{
                text-decoration: none;
                color: $secondaryColor;
            }
        }
    }
}

footer{
    background-color: $mainColor;
    color:$secondaryColor;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    background-image: url(../img/header.jpg);


    .menu_footer{
        list-style-type:none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-block: 10px;
        gap: 30px;
    }
}


/* Habilitar viewport y aplicación de media querie */

    /* Aplicación para tablet*/


    @media screen and (max-width: 768px){

        .container{
            width: 100%;
            display: flex;
            padding-block: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url(../img/header.jpg);
        }
    
        .grid_gallery .img-box img{
            border-radius: 5px;
            width: 140px;
            height: 140px;
        }

    }
    
        /* Aplicación para teléfono */
    
    @media screen and (max-width: 480px){
        .menu2 {
            position: fixed;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            list-style-type: none;
            gap: 5px;
        }
    
        .grid_gallery{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 5fr);
            gap: 10px;
            grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4"
            "box5"
            "box6"
        }
    
        
        .grid_gallery .img-box img{
            border-radius: 5px;
            width: 300px;
            height: 300px;
        }
    
    
        .img-box box1{
            grid-area: box1;
        }
    
        .img-box box2{
            grid-area: box2;
        }
    
        .img-box box3{
            grid-area: box3;
        }
    
        .img-box box4{
            grid-area: box4;
        }
    
        .img-box box5{
            grid-area: box5;
        }
    
        .img-box box6{
            grid-area: box6;
        }

    }
    