/* Encabezado */

.menu2 {
    position: fixed;
    left: auto;
    top: 16px;
    right: 16px;
    bottom: auto;
    z-index: 20;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style-type: none;
    gap: 10px;

    
    .menu__item2:hover{
        -webkit-animation: slide-top 6s ease-out both;
        animation: slide-top .6s ease-out both;
        background-color: darkgrey;
    }

    li{
        a{
        text-decoration: none;
        color: $secondaryColor;
        }
    }
}

.titulo{
    color:black;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/header.jpg);
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    padding-left: 20px;
    padding-block: 15px;
}

.encabezado {
    display: flex;
    justify-content: center;
    background-image: url(../img/header.jpg);
}

.navegación_inicio{
    li {
        a {
        text-decoration: none;
        color: white;
        }
    }
}

.slide-top{-webkit-animation:slide-top .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-top .5s cubic-bezier(.25,.46,.45,.94) both}

.navegacion_videos{
    background-image: url(../img/header.jpg);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding-block: 30px;

    .menu_videos{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 40px;
    }
}


h3{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
    padding-block: 10px;
    margin: 0;
}

footer{
    background-color: $mainColor;
    color:$secondaryColor;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    background-image: url(../img/header.jpg);


    .menu_footer{
        list-style-type:none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-block: 10px;
        gap: 30px;
    }
}
